.container{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 0.5rem;
}

.container>:first-child{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 0.5rem;
    width: 20%;
}
button{
    width: 10%;
}